body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.hide {
  display: none;
}

#timer {
  font-size: 24px;
  margin-bottom: 20px;
}

#countdown {
  font-weight: bold;
  color: red; /* Adjust color as desired */
}